// COULEURS

$color-red: #ff6060;
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #f6f6f6;

$font-main: "Montserrat", sans-serif;

$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 25px;

$breakpoint-phone: 320px;
$breakpoint-tablet: 480px;
$breakpoint-desktop: 1024px;
