footer {
  position: relative;
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-white;
  font-family: $font-main;
  font-size: 24px;
  height: 200px;
  width: 100%;
  place-self: flex-end;
  @media (min-width: $breakpoint-phone) {
    font-size: 16px;
  }
  img {
    width: 122px;
    height: auto;
    margin-bottom: 16px;
  }
}
