footer {
  position: relative;
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: $color-white;
  font-family: $font-main;
  font-size: 24px;
  padding: 32px;
  height: 200px;
  place-self: flex-end;
  @media (min-width: $breakpoint-phone) {
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 122px;
    height: auto;
    @media (min-width: $breakpoint-phone) {
      position: initial;
    }
  }
}
