.host {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  p {
    width: 88px;
    text-wrap: wrap;
    font-family: $font-main;
    color: $color-red;
    text-align: end;
  }
  img {
    border-radius: 50%;
    width: 64px;
    height: auto;
  }
}
