nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 44px 96px;
  place-self: flex-start;
  img {
    width: 240px;
    height: auto;
  }
  ul {
    display: flex;
    flex-direction: row;
    font-family: $font-main;
    gap: 60px;
    font-size: 24px;
    font-weight: 500;
  }
}

.is-active {
  text-decoration: underline;
}
